<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sean.com.HousePolice" >
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
                     android:maxSdkVersion="18" />
    <uses-feature android:name="android.hardware.camera"
                  android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme" >
        <activity
            android:name="sean.com.HousePolice.ChoreListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="sean.com.HousePolice.ChorePagerActivity"
                  android:label="@string/app_name"
                  android:parentActivityName="sean.com.HousePolice.ChoreListActivity">
        </activity>
    </application>

</manifest>
